In [1]:
 # Dependencies
import pandas as pd
import scipy.stats as stats
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

In [2]:
fips_data = "mo_county_fips.csv"
fips_data_df = pd.read_csv(fips_data, encoding="ISO-8859-1")
fips_data_df

,ï»¿Summary Level,State Code (FIPS),County Code (FIPS),Area Name (including legal/statistical area description)
0,50,29,1,Adair County
1,50,29,3,Andrew County
2,50,29,5,Atchison County
3,50,29,7,Audrain County
4,50,29,9,Barry County
...,...,...,...,...
110,50,29,223,Wayne County
111,50,29,225,Webster County
112,50,29,227,Worth County
113,50,29,229,Wright County
114,50,29,510,City of St. Louis County

In [11]:
clean_fips_data_df = fips_data_df.iloc[:,1:]
clean_fips_data_df.to_csv("Data_Cleaning/mo_fips.csv", index=False, header=True)

In [12]:
clean_fips_data_df

,State Code (FIPS),County Code (FIPS),Area Name (including legal/statistical area description)
0,29,1,Adair County
1,29,3,Andrew County
2,29,5,Atchison County
3,29,7,Audrain County
4,29,9,Barry County
...,...,...,...
110,29,223,Wayne County
111,29,225,Webster County
112,29,227,Worth County
113,29,229,Wright County
114,29,510,City of St. Louis County

In [13]:
clean_fips_data_df.dtypes

State Code (FIPS)                                            int64
County Code (FIPS)                                           int64
Area Name (including legal/statistical area description)    object
dtype: object

In [15]:
county_data = "Data_Cleaning/Master_County_Data.csv"
county_data_df = pd.read_csv(county_data, encoding="ISO-8859-1")
county_data_df

,dt,location,fips,cases_total,deaths_total,hospital_beds_capacity_count,hospital_beds_in_use_any,hospital_beds_in_use_covid_total,icu_beds_capacity_count,icu_beds_in_use_any,...,Percent of 25+ with professional degree,Percent of 25+ with some HS but no HS degree,Percent of 25+ with some college but no degree,Percent of civilian population with health insurance,Percent of civilian population with no health insurance,Percent of families w/ income < poverty lvl in last year,Percent other race,Percent two or more races,Percent white,Total population
0,2020-09-15,29001,29001,315.0,0.0,NaN,NaN,NaN,NaN,NaN,...,15.0,6.00,17.00,91.0,8.0,11.0,0.00,2.00,91.00,25325.0
1,2020-09-15,29003,29003,189.0,1.0,NaN,NaN,NaN,NaN,NaN,...,8.0,5.00,22.00,92.0,7.0,6.0,0.00,1.00,95.00,17403.0
2,2020-09-15,29005,29005,41.0,0.0,NaN,NaN,NaN,NaN,NaN,...,6.0,6.00,21.00,91.0,8.0,6.0,0.00,0.00,97.00,5270.0
3,2020-09-15,29007,29007,372.0,2.0,NaN,NaN,NaN,NaN,NaN,...,5.0,10.00,17.00,90.0,10.0,10.0,0.00,3.00,89.00,25735.0
4,2020-09-15,29009,29009,411.0,5.0,NaN,NaN,NaN,NaN,NaN,...,4.0,11.00,20.00,84.0,15.0,14.0,1.00,3.00,93.00,35493.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,2020-09-15,29223,29223,152.0,0.0,NaN,NaN,NaN,NaN,NaN,...,3.0,16.00,21.00,85.0,14.0,15.0,0.00,2.00,96.00,13308.0
111,2020-09-15,29225,29225,427.0,2.0,NaN,NaN,NaN,NaN,NaN,...,6.0,7.00,24.00,84.0,15.0,12.0,0.00,1.00,95.00,38082.0
112,2020-09-15,29227,29227,18.0,0.0,NaN,NaN,NaN,NaN,NaN,...,5.0,7.00,22.00,93.0,6.0,8.0,0.00,2.00,97.00,2040.0
113,2020-09-15,29229,29229,165.0,0.0,NaN,NaN,NaN,NaN,NaN,...,4.0,10.00,18.00,81.0,18.0,19.0,1.00,1.00,96.00,18293.0
114,2020-09-15,29510,29510,6667.0,196.0,NaN,NaN,NaN,NaN,NaN,...,15.6,8.75,21.25,88.8,10.7,17.5,0.95,2.35,46.55,307055.5